@import url('css/base.css');
@import url('css/utils.css');
@import url('css/layout.css');
@import url('css/components.css');
@import url('css/views/dashboard.css');
@import url('css/views/campaigns.css');
@import url('css/views/automation.css');
@import url('css/views/segmentation.css');
@import url('css/views/ai-content.css');
@import url('css/views/analytics.css');
@import url('css/responsive.css');